# Explorative Data Analysis

## 1. Caricamento Dati

In [4]:
import pandas as pd

games = pd.read_csv("../data/raw/games.csv")
reviews = pd.read_csv("../data/raw/reviews.csv")

## 2. Overview Generale
### 2.1 Games

In [7]:
games.info()
games.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             3044 non-null   object
 1   title           3044 non-null   object
 2   releaseDate     3044 non-null   object
 3   rating          3044 non-null   object
 4   genre           3044 non-null   object
 5   developers      3044 non-null   object
 6   publishers      3044 non-null   object
 7   themes          3044 non-null   object
 8   platforms       3044 non-null   object
 9   metaScore       3044 non-null   float64
 10  metaScoreCount  3044 non-null   float64
 11  description     3044 non-null   object
 12  storyline       3044 non-null   object
 13  summary         3044 non-null   object
 14  cover           3044 non-null   object
 15  video           3044 non-null   object
 16  userScore       3044 non-null   float64
 17  reviewCount     3044 non-null   int64
 18  screenshots     3044 non-null   object
 19  _class          3044 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 475.8+ KB

         metaScore  metaScoreCount    userScore  reviewCount
count  3044.000000     3044.000000  3044.000000  3044.000000
mean     77.109067       47.593955    70.214849    50.622536
std      10.711092       24.424686    16.339114    97.222839
min      17.000000       10.000000     3.000000     5.000000
25%      72.000000       28.000000    62.000000     9.000000
50%      79.000000       45.000000    73.000000    18.000000
75%      84.000000       63.000000    82.000000    46.000000
max      99.000000      150.000000   100.000000  1170.000000

### 2.2 Reviews

In [6]:
reviews.info()
reviews.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154095 entries, 0 to 154094
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     154095 non-null  object
 1   author  154095 non-null  object
 2   text    154095 non-null  object
 3   score   154095 non-null  int64
 4   date    154095 non-null  object
 5   gameId  154095 non-null  object
 6   userId  154094 non-null  object
 7   _class  154095 non-null  object
dtypes: int64(1), object(7)
memory usage: 9.4+ MB

               score
count  154095.000000
mean       71.032285
std        31.651278
min         0.000000
25%        60.000000
50%        80.000000
75%       100.000000
max       100.000000